



<!-- 
███╗   ██╗ █████╗ ██╗   ██╗██╗ ██████╗  █████╗ ████████╗██╗ ██████╗ ███╗   ██╗
████╗  ██║██╔══██╗██║   ██║██║██╔════╝ ██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║
██╔██╗ ██║███████║██║   ██║██║██║  ███╗███████║   ██║   ██║██║   ██║██╔██╗ ██║
██║╚██╗██║██╔══██║╚██╗ ██╔╝██║██║   ██║██╔══██║   ██║   ██║██║   ██║██║╚██╗██║
██║ ╚████║██║  ██║ ╚████╔╝ ██║╚██████╔╝██║  ██║   ██║   ██║╚██████╔╝██║ ╚████║
╚═╝  ╚═══╝╚═╝  ╚═╝  ╚═══╝  ╚═╝ ╚═════╝ ╚═╝  ╚═╝   ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝
                                                                              
-->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

	<div class="container-fluid">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		  	<a class="navbar-brand" href="#">FREEBIESERVERS</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="#howItWorks">How It Works</a></li>
				<li><a href="#">Forums</a></li>
				<li><a href="#">Terms Of Service</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->

</nav><!-- /. end navigation -->




<!--
██╗  ██╗███████╗ █████╗ ██████╗ ███████╗██████╗ 
██║  ██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗  ███████║██║  ██║█████╗  ██████╔╝
██╔══██║██╔══╝  ██╔══██║██║  ██║██╔══╝  ██╔══██╗
██║  ██║███████╗██║  ██║██████╔╝███████╗██║  ██║
╚═╝  ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚══════╝╚═╝  ╚═╝                                                
-->
<header id="home" class="header">







	
	<!-- BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES -->
	<div class="container-fluid col-lg-12
								col-md-
								col-sm-
								col-xs-12
								">
		
		<div class="row">

			<div class="col-lg-8 col-lg-offset-2 text-center
						col-xs-12">


				<div class="h1Container">
					<!-- HEADING -->
					<h1 class="intro">100% FREE Game Servers</h1>

					<h3 class="white-text">
						Welcome to FreebieServers.com, where gaming online is fast, fun and best of all, 100% FREE! We strive to bring you high quality game servers for all of your favorite games, along with great support for no cost whatsoever.
					</h3>
				</div>






				<a href="#" class="btn btn-lg btn-success"
   data-toggle="modal"
   data-target="#basicModal">Click to open Modal</a>
				<!-- CALL TO ACTION BUTTONS -->
				<div class="button">

					<a id="orderNowButton" href="#" class="btn btn-primary custom-button green-btn col-lg-2 col-lg-offset-5
							  col-md-2 col-md-offset-5
							  col-xs-4 col-xs-offset-4"
							  data-toggle="modal"
							  data-target="#basicModal">
						ORDER NOW
					</a>

				</div>
			</div><!-- end heading 1 container -->
		</div>
		<!-- end row -->	
	</div> <!-- / END BIG HEADING WITH CALL TO ACTION BUTTONS AND SHORT MESSAGES  -->
	
</header> <!-- / END HOME SECTION  -->






<!-- 
 █████╗ ██████╗  ██████╗ ██╗   ██╗████████╗
██╔══██╗██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝
███████║██████╔╝██║   ██║██║   ██║   ██║   
██╔══██║██╔══██╗██║   ██║██║   ██║   ██║   
██║  ██║██████╔╝╚██████╔╝╚██████╔╝   ██║   
╚═╝  ╚═╝╚═════╝  ╚═════╝  ╚═════╝    ╚═╝   
                                           
-->
<section class="aboutSection">

	<div class="container-fluid">

		<div class="row">

			<div class="thumbnail col-xs-10 col-xs-offset-1
								  col-sm-4 col-sm-offset-0
								  col-md-4 col-md-offset-0
								  col-lg-4 col-lg-offset-">

				<img src="images/gameImages/TeamFortress2.png" alt="game image" class="img-thumbnail img-responsive">

				<div class="caption">
					<h3>Your Favorite Online Games</h3>
					<p>	 				
						At FreebieServers.com, we provide online game servers for some of the most popular PC games around, and we’re adding support for new games all the time.
					</p>
				
				</div><!-- end caption -->
			</div><!-- end thumbnail -->

			<div class="thumbnail col-xs-10 col-xs-offset-1
								  col-sm-4  col-sm-offset-0
								  col-md-4 
								  col-lg-4 col-lg-offset-">

				<img src="images/gameImages/mumble.png" alt="mumble logo" class="img-thumbnail img-responsive">

				<div class="caption">
					<h3>Free Mumble Servers</h3>
					<p>	 				
						Stay in constant communication with your team while in game with a free Mumble server, provided free of charge just for signing up!
					</p>
				
				</div><!-- end caption -->
			</div><!-- end thumbnail -->

			<div class="thumbnail col-xs-10 col-xs-offset-1
								  col-sm-4 col-sm-offset-0
								  col-md-4
								  col-lg-4 col-lg-offset-">

				<img src="images/gameImages/server-support.png" alt="server support image" class="img-thumbnail img-responsive">

				<div class="caption">
					<h3>Next Generation Currency Support</h3>
					<p>	 				
						FreebieServers Supports NXT Coin – Something huge is on it’s way and you’re going to love it!
					</p>
				
				</div><!-- end caption -->
			</div><!-- end thumbnail -->
			
		</div><!-- end row -->
	 </div><!-- end container fluid -->

</section>
<!-- end about section -->
















<section class="pageBreaker">

	<div class="row">

		<div class="col-xs-12">
			<img src="images/gameImages/characters.png" alt="an image of the game characters" class="img-responsive center-block">
		</div>

	</div>
	<!-- end row -->

</section>
<!-- separater section -->













<!-- 
██╗  ██╗ ██████╗ ██╗    ██╗    ██╗████████╗    ██╗    ██╗ ██████╗ ██████╗ ██╗  ██╗███████╗
██║  ██║██╔═══██╗██║    ██║    ██║╚══██╔══╝    ██║    ██║██╔═══██╗██╔══██╗██║ ██╔╝██╔════╝
███████║██║   ██║██║ █╗ ██║    ██║   ██║       ██║ █╗ ██║██║   ██║██████╔╝█████╔╝ ███████╗
██╔══██║██║   ██║██║███╗██║    ██║   ██║       ██║███╗██║██║   ██║██╔══██╗██╔═██╗ ╚════██║
██║  ██║╚██████╔╝╚███╔███╔╝    ██║   ██║       ╚███╔███╔╝╚██████╔╝██║  ██║██║  ██╗███████║
╚═╝  ╚═╝ ╚═════╝  ╚══╝╚══╝     ╚═╝   ╚═╝        ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝
-->                                                                                          

<section class="howItWorksSection" id="howItWorks">
	<div class="row">
		<div class="page-header col-xs-10 col-xs-offset-1 
								col-lg-12 col-lg-offset-0 text-center">
		  	<h2>How it Works - Free Game Servers</h2>
		</div>
	</div><!-- end row  --> 

	<div class="row">



		<div class="panelContainer  col-xs-10 col-xs-offset-1
									col-lg-6 col-lg-offset-0">

			<div class="panel panel-default">
					<div class="panel-heading"><h4>You offer free game servers? What’s The Catch?</h4></div>
					<div class="panel-body">
					<p>
						At FreebieServers.com, we provide our clients with free game servers as well as an exclusive VIP server package.  Our free package is 100% free to use and will allow you to your server however you want.  The only string attached is that your server will be fitted with an MOTD that displays an ad from our ad network. Location selection is also restricted with the free package.  Our VIP package is like our Free, however YOU choose the MOTD and you can have as many slots as you see fit. All for one flat price!
						You are provided with one free server per IP address and community – please don’t be greedy the servers are for everyone
					</p>
				</div>
			</div>
			<!-- end panel -->

		</div>
		<!-- end panel container -->


		<div class="panelContainer  col-xs-10 col-xs-offset-1
									col-lg-6 col-lg-offset-0">

			<div class="panel panel-default">
					<div class="panel-heading"><h4>Tiered Server Support</h4></div>
					<div class="panel-body">
					<p>
						While we provide our servers without any money needed, our support structure is tiered based on paying vs non-paying clients.  While we provide support for our free servers, priority is given to tickets submitted by our VIP members.  The response time for your support ticket may will vary, but are structured as follows:
					</p>
					<ul>
						<li><strong>Free Members:</strong>Ticket response within first 24-36 hours</li>
						<li><strong>VIP Members:</strong>Ticket response within the first 12 hours</li>
					</ul>

					<p>Please note that free customer support will be limited to preventing downtime and crashes, mod installs and configurations are your responsibility.</p>
				</div>
			</div>
			<!-- end panel -->

		</div>
		<!-- end panel container -->


		<div class="panelContainer  col-xs-10 col-xs-offset-1
									col-lg-12 col-lg-offset-0">

			<div class="panel panel-default">
					<div class="panel-heading"><h4>How Do I Sign Up for a Server?</h4></div>
					<div class="panel-body">
					<p>
						If you are ready to get your server online, follow these steps to get through the process:
					</p>

					<ol>
						<li>Select Your Package:  Click the <strong>Sign up/ ORDER NOW</strong> link at the bottom of your page, find your preferred game and click the ORDER NOW button</li>
						<li>Complete the registration form and submit</li>
						<li>Once your order has been placed, you will receive a confirmation email with instructions on how to activate your server package</li>
					</ol>

					<p>
						Please note that your server must maintain population at all times. The minimum requirement for population is subject to change.  Any server with with no activity during any 2 week period will be disabled.  While we will do our best to contact you and notify you with a warning, please remember that your server is in fact FREE. We reserve the right to shut off any service with or without warning.
					</p>

					<p class="textRed">Приносим свои извинения, но в связи с техническим, финансовым и географическим причинам, мы не можем предлагать бесплатные игровых серверов для российских клиентов. Спасибо за ваш интерес.</p>
				</div>
			</div>
			<!-- end panel -->

		</div>
		<!-- end panel container -->


	</div>
	<!-- end row -->

</section> <!-- end how it works section -->







<!--
 ██████╗ ██████╗ ████████╗██╗ ██████╗ ███╗   ██╗███████╗
██╔═══██╗██╔══██╗╚══██╔══╝██║██╔═══██╗████╗  ██║██╔════╝
██║   ██║██████╔╝   ██║   ██║██║   ██║██╔██╗ ██║███████╗
██║   ██║██╔═══╝    ██║   ██║██║   ██║██║╚██╗██║╚════██║
╚██████╔╝██║        ██║   ██║╚██████╔╝██║ ╚████║███████║
 ╚═════╝ ╚═╝        ╚═╝   ╚═╝ ╚═════╝ ╚═╝  ╚═══╝╚══════╝

-->
<section class="package">


	<div class="row">
		<div class="page-header col-xs-10 col-xs-offset-1 
								col-lg-12 col-lg-offset-0 text-center">
		  	<h2>Packages</h2>
		</div>
	</div><!-- end row  --> 

	<div class="row">

	<div class="row">




		<div class="panelContainer  col-xs-10 col-xs-offset-1
									col-sm-6 col-sm-offset-0
									col-lg-3 col-lg-offset-3">

			<div class="panel panel-default panel-info">
					<div class="panel-heading text-center"><h4>Free</h4></div>
					<div class="panel-body">
						<ul>
							<li>Branded MOTD</li>
							<li>Up to 14 slots</li>
							<li>Monthly Player Requirement</li>
							<li>Limited Support</li>
							<li>Full Panel &amp; FTP Access</li>
							<li><strong>1 server per user &amp; community</strong></li>
						</ul>

						<hr>

						<h2 class="text-center">FREE<small>per month</small></h2>

						<!-- CALL TO ACTION BUTTONS -->
						<div class="button">
							<!-- <a href="#" class="btn btn-primary custom-button red-btn">Our Works</a> -->
							<a id="orderNowButton" href="#" class="btn btn-primary custom-button green-btn col-lg-5 col-lg-offset-3
									  col-sm-4
									  col-md-3 col-md-offset-5
									  col-xs-4 col-xs-offset-4">
								ORDER NOW
							</a>
						</div>
				</div>
			</div>
			<!-- end panel -->

		</div>
		<!-- end panel container -->

				<div class="panelContainer  col-xs-10 col-xs-offset-1
											col-sm-6 col-sm-offset-0
											col-lg-3 col-lg-offset-0">

			<div class="panel panel-default panel-success">
					<div class="panel-heading text-center"><h4>VIP</h4></div>
					<div class="panel-body">
						<ul>
							<li>No Branding</li>
							<li>Unlimited Player Slots</li>
							<li>No Monthly Player Requirement</li>
							<li>Full 24/7 Support</li>
							<li>Full Service Setup </li>
							<li><strong>UP TO 5 SERVERS OF YOUR CHOICE!</strong></li>


						</ul>

						<hr>

						<h2 class="text-center">$20<small>per month</small></h2>
						<!-- CALL TO ACTION BUTTONS -->
						<div class="button">
							<!-- <a href="#" class="btn btn-primary custom-button red-btn">Our Works</a> -->
							<a id="orderNowButton" href="#" class="btn btn-primary custom-button green-btn col-lg-5 col-lg-offset-3
									  col-md-3 col-md-offset-5
									  col-xs-4 col-xs-offset-4">
								ORDER NOW
							</a>
						</div>
				</div>
			</div>
			<!-- end panel -->

		</div>
		<!-- end panel container -->





	</div><!-- end row -->

</section>
<!-- /. end section -->
