<div class="popUpContainer col-lg-8 col-lg-offset-2" id="form2">

    <div class="panel panel-default">




        <div class="panel-heading text-center">
             <a href="/"><span class="glyphicon glyphicon-remove pull-right"></span></a>
            <h4>Select Product</h4>

        </div>

        <div class="panel-body">

            <div class="pData col-lg-12">

                <p>
                    Up to 14 slots of Counter-Strike Source with our very own branded MOTD because gaming should be free and we want to help keep it that way.
                </p>
                <p>
                    Please note that to maintain control of your free server, you must maintain your servers population and it cannot remain empty. Servers found to be empty for a majority of the month will be suspended.
                </p>

            </div><!-- end pdat -->

            <h1>Select Product</h1>

            <!-- PRODUCT 
            ===================
            ===================
            =================== -->

            <div class="row">

                <div class="col-lg-3">

                    <div class="panel panel-default" ng-click="formOptionClick(option1)"
                    ng-class="{'optionActive': formOption.value1, 'optionOff': formOption.value1}">

                        <div class="panel-heading text-center">
                            <h4>Counter Strike Source - Free </h4>
                        </div>

                        <div class="panel-body">
                            <img src="images/gameImages/CounterStrikeSource.png" alt="an image of counterstrike source" class="img-responsive ">
                        </div><!-- end panel body -->
                    </div><!-- end panel -->
                </div><!-- end option -->

            <!-- PRODUCT 
            ===================
            ===================
            =================== -->

                <div class="option col-lg-3">

                    <div class="panel panel-default" ng-click="formOptionClick(option2)">
                        <div class="panel-heading text-center">
                            <h4>Counter-Strike: GO - Free</h4>
                        </div>

                        <div class="panel-body">
                            <img src="images/gameImages/counter_strike_go.png" alt="an image of counterstrike source" class="img-responsive ">
                        </div><!-- end panel body -->
                    </div><!-- end panel -->
                </div><!-- end option -->


            <!-- PRODUCT 
            ===================
            ===================
            =================== -->



                <div class="option col-lg-3">
                    <div class="panel panel-default" ng-click="formOptionClick(option3)">
                        <div class="panel-heading text-center">
                            <h4>HL2 - Deathmatch - Free</h4>
                        </div>

                        <div class="panel-body">
                            <img src="images/gameImages/hl.png" alt="an image of counterstrike source" class="img-responsive ">
                        </div><!-- end panel body -->
                    </div><!-- end panel -->
                </div><!-- end option -->


            <!-- PRODUCT 
            ===================
            ===================
            =================== -->

                <div class="option col-lg-3">
                    <div class="panel panel-default" ng-click="formOptionClick(option4)">
                        <div class="panel-heading text-center">
                            <h4>HL2 - Garrysmod - Free</h4>
                        </div>

                        <div class="panel-body">
                            <img src="images/gameImages/garrysmod_icon.png" alt="an image of counterstrike source" class="img-responsive ">
                        </div><!-- end panel body -->
                    </div><!-- end panel -->
                </div><!-- end option -->

            <!-- PRODUCT 
            ===================
            ===================
            =================== -->

                <div class="option col-lg-3">
                    <div class="panel panel-default" ng-click="formOptionClick(option5)">
                        <div class="panel-heading text-center">
                            <h4>Team Fortress 2 - Free</h4>
                        </div>

                        <div class="panel-body">
                            <img src="images/gameImages/tf2.png" alt="an image of counterstrike source" class="img-responsive ">
                        </div><!-- end panel body -->
                    </div><!-- end panel -->
                </div><!-- end option -->



            </div><!-- end panel options -->


            <a id="orderNowButton" href="#/form3" class="btn btn-lg custom-button btn-success pull-right">
                    NEXT
            </a> 

        </div><!-- end panel body -->
    </div> <!-- end panel -->
</div><!-- end popup container -->