<!--
████████╗ ██████╗ ███████╗
╚══██╔══╝██╔═══██╗██╔════╝
   ██║   ██║   ██║███████╗
   ██║   ██║   ██║╚════██║
   ██║   ╚██████╔╝███████║
   ╚═╝    ╚═════╝ ╚══════╝

-->


<div class="popUpContainer col-lg-8 col-lg-offset-2">

    <div class="panel panel-default panel ">
        <div class="panel-heading text-center">
             <span class="glyphicon glyphicon-remove pull-right"></span>
            <h4>Terms Of Service</h4>



        </div>
        <div class="panel-body">

            <div class="row">


            	<div class="row">

					<div class="panel panel-default col-lg-8 col-lg-offset-1">
						<div class="panel-body">
							<p>I understand that I may only have one server and that any attempt to hog resources will be punished with termination</p>
						</div>
					</div>

					<div class="panel panel-default col-lg-1">
						<div class="panel-body">
							<p>check</p>
						</div>
					</div>

				</div><!-- end row -->

				<div class="row">
					<div class="panel panel-default col-lg-8 col-lg-offset-1">
						<div class="panel-body">
							<p>I understand that my servers are on shared resources and that my IP address, files, and data are subject to removal at any time</p>
						</div>
					</div>
					<div class="panel panel-default col-lg-1">
						<div class="panel-body">
							<p>check</p>
						</div>
					</div>

				</div><!-- end row -->

				<div class="row">
					<div class="panel panel-default col-lg-8 col-lg-offset-1">
						<div class="panel-body">
							<p>I Have read and agree to the terms of service and will not attempt to circumvent them in any way</p>
						</div>
					</div>

					<div class="panel panel-default col-lg-1">
						<div class="panel-body">
							<p>check</p>
						</div>
					</div>
				</div><!-- end row -->
            </div><!-- end row -->

            <button type="submit" class="btn btn-default pull-right">Submit</button>
        </div><!-- end panel body -->
    </div> <!-- end panel -->
</div><!-- end popup container -->