


<div class="popUpContainer col-lg-8 col-lg-offset-2">

    <div class="panel panel-default panel ">
        <div class="panel-heading text-center">
            <a href="/"><span class="glyphicon glyphicon-remove pull-right"></span></a>
            <h4>Upgrades</h4>



        </div>
        <div class="panel-body">

            <div class="row">

            		<div class="panelSizer col-lg-6">

	            		<div class="panel panel-default">

	            			<div class="panel-heading">
	            				<h4><strong>Ad Removal</strong></h4>
	            			</div>

	            			<div class="panel-body">
	            				<p>We'll remove our branded MOTD, so you don't have to see our ads.  Only a $5 one-time Fee!</p>
	            			</div><!-- end panel body -->

	            		</div><!-- end panel -->

	            	</div><!-- end panel sizer -->













	            	<div class="panelSizer col-lg-6">

	            		<div class="panel panel-default">

	            			<div class="panel-heading">
	            				<h4><strong>CPU Priority</strong></h4>
	            			</div>

	            			<div class="panel-body">

	            				<p>We'll give your server CPU Priority over regular Free server users, ensuring a smoother game.  Only $5/month!</p>

	            			</div><!-- end panel body -->

	            		</div><!-- end panel -->

	            	</div><!-- end panel sizer -->



	            	<div class="panelSizer col-lg-6">

	            		<div class="panel panel-default">

	            			<div class="panel-heading">
	            				<h4><strong>Custom DNS</strong></h4>
	            			</div>

	            			<div class="panel-body">
	            				<p>We'll give you a named server, using Dynamic DNS to link your server's IP.  Only a $2 one time fee!Pairs great with our Dedicated IP upgrade!</p>
	            			</div><!-- end panel body -->

	            		</div><!-- end panel -->

	            	</div><!-- end panel sizer -->


            		<div class="panelSizer col-lg-6">

	            		<div class="panel panel-default">

	            			<div class="panel-heading">
	            				<h4><strong>Dedicated IP</strong></h4>
	            			</div>

	            			<div class="panel-body">
	            				<p>We'll give your server a dedicated IP Address, ensuring that your users will be able to connect to you. Only $3/month!  A great pair with our Dynamic DNS option.</p>
	            			</div><!-- end panel body -->

	            		</div><!-- end panel -->

	            	</div><!-- end panel sizer -->


            		<div class="panelSizer col-lg-6">

	            		<div class="panel panel-default">

	            			<div class="panel-heading">
	            				<h4><strong>FastDl Access</strong></h4>
	            			</div>

	            			<div class="panel-body">
	            				<p>FastDL server set up for your server with unlimited HDD space, only $5/month!  A great deal to set your server up with enough space for all your add-ons!</p>
	            			</div><!-- end panel body -->

	            		</div><!-- end panel -->

	            	</div><!-- end panel sizer -->	  
	            	

            		<div class="panelSizer col-lg-6">

	            		<div class="panel panel-default">

	            			<div class="panel-heading">
	            				<h4><strong>Playerlimit Increase</strong></h4>
	            			</div>

	            			<div class="panel-body">
	            				<p></p>
	            			</div><!-- end panel body -->

	            		</div><!-- end panel -->

	            	</div><!-- end panel sizer -->

            </div><!-- end row -->

            <a href="#/form3"><div class="btn btn-default pull-right">
            	Next
            </div></a>
        </div><!-- end panel body -->
    </div> <!-- end panel -->
</div><!-- end popup container -->